Snake/Launcher/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7253/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7253/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7253/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Launcher.Web" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IService1_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getUsernames_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsernames" />
  </wsdl:message>
  <wsdl:message name="IService1_getUsernames_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsernamesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addUser_InputMessage">
    <wsdl:part name="parameters" element="tns:addUser" />
  </wsdl:message>
  <wsdl:message name="IService1_addUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getSnakeScoreData_InputMessage">
    <wsdl:part name="parameters" element="tns:getSnakeScoreData" />
  </wsdl:message>
  <wsdl:message name="IService1_getSnakeScoreData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSnakeScoreDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getShooterScoreData_InputMessage">
    <wsdl:part name="parameters" element="tns:getShooterScoreData" />
  </wsdl:message>
  <wsdl:message name="IService1_getShooterScoreData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getShooterScoreDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getSnakeRecordData_InputMessage">
    <wsdl:part name="parameters" element="tns:getSnakeRecordData" />
  </wsdl:message>
  <wsdl:message name="IService1_getSnakeRecordData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSnakeRecordDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getShooterRecordData_InputMessage">
    <wsdl:part name="parameters" element="tns:getShooterRecordData" />
  </wsdl:message>
  <wsdl:message name="IService1_getShooterRecordData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getShooterRecordDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DoWork" message="tns:IService1_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DoWorkResponse" message="tns:IService1_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsernames">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUsernames" message="tns:IService1_getUsernames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUsernamesResponse" message="tns:IService1_getUsernames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addUser" message="tns:IService1_addUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addUserResponse" message="tns:IService1_addUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSnakeScoreData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getSnakeScoreData" message="tns:IService1_getSnakeScoreData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getSnakeScoreDataResponse" message="tns:IService1_getSnakeScoreData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getShooterScoreData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getShooterScoreData" message="tns:IService1_getShooterScoreData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getShooterScoreDataResponse" message="tns:IService1_getShooterScoreData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSnakeRecordData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getSnakeRecordData" message="tns:IService1_getSnakeRecordData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getSnakeRecordDataResponse" message="tns:IService1_getSnakeRecordData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getShooterRecordData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getShooterRecordData" message="tns:IService1_getShooterRecordData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getShooterRecordDataResponse" message="tns:IService1_getShooterRecordData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IService1/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsernames">
      <soap:operation soapAction="http://tempuri.org/IService1/getUsernames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://tempuri.org/IService1/addUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSnakeScoreData">
      <soap:operation soapAction="http://tempuri.org/IService1/getSnakeScoreData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShooterScoreData">
      <soap:operation soapAction="http://tempuri.org/IService1/getShooterScoreData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSnakeRecordData">
      <soap:operation soapAction="http://tempuri.org/IService1/getSnakeRecordData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShooterRecordData">
      <soap:operation soapAction="http://tempuri.org/IService1/getShooterRecordData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:7253/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>