Snake/Launcher/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7253/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Launcher.Web" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsernames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsernamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Launcher.Web" minOccurs="0" name="getUsernamesResult" nillable="true" type="q1:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Launcher.Web" minOccurs="0" name="u" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSnakeScoreData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSnakeScoreDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Launcher.Web" minOccurs="0" name="getSnakeScoreDataResult" nillable="true" type="q3:ArrayOfSnakeGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getShooterScoreData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getShooterScoreDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Launcher.Web" minOccurs="0" name="getShooterScoreDataResult" nillable="true" type="q4:ArrayOfShooterGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSnakeRecordData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSnakeRecordDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Launcher.Web" minOccurs="0" name="getSnakeRecordDataResult" nillable="true" type="q5:ArrayOfSnakeGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getShooterRecordData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getShooterRecordDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Launcher.Web" minOccurs="0" name="getShooterRecordDataResult" nillable="true" type="q6:ArrayOfShooterGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>