Snake/Launcher/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Launcher.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Launcher.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_user" type="xs:int" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfSnakeGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SnakeGame" nillable="true" type="tns:SnakeGame" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSnakeGame" nillable="true" type="tns:ArrayOfSnakeGame" />
  <xs:complexType name="SnakeGame">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_game" type="xs:int" />
      <xs:element minOccurs="0" name="ID_user" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="lvl" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="score" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SnakeGame" nillable="true" type="tns:SnakeGame" />
  <xs:complexType name="ArrayOfShooterGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShooterGame" nillable="true" type="tns:ShooterGame" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShooterGame" nillable="true" type="tns:ArrayOfShooterGame" />
  <xs:complexType name="ShooterGame">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_game" type="xs:int" />
      <xs:element minOccurs="0" name="ID_user" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="score" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShooterGame" nillable="true" type="tns:ShooterGame" />
</xs:schema>